<!-- <button (click)="createNewProduct()">Crear</button>
<button (click)="onShowDetail('123456')">Detalle no Encontrado</button> -->
<div class="products--grid">
  <app-product
    [product]="product"
    *ngFor="let product of products"
    (addedProduct)="onAddToShoppingCart($event)"
    (showProduct)="onShowDetail($event)"
  ></app-product>
  <button (click)="loadMore()">Load more</button>
</div>

<div class="product-detail" [class.active]="showProductDetail">
  {{statusDetail}}
  <div *ngIf="!productChosen">Cargando</div>
  <div *ngIf="productChosen">
    <button (click)="close()">Close</button>
    <h1>{{productChosen.title}}</h1>
    <swiper
      [slidesPerView]="1"
    >
      <ng-template swiperSlide *ngFor="let img of productChosen.images">
        <img [src]="img" alt="">
      </ng-template>
    </swiper>
    <h2>{{productChosen.price | currency:'COP'}}</h2>
    <h2>{{productChosen.taxes | currency:'COP'}}</h2>
    <p>{{productChosen.description}}</p>
    <button (click)="updateProduct()">Editar</button>
    <button (click)="deleteProduct()">Delete</button>
  </div>
</div>
